@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    color:white;
    background-color:#141516 ;
    box-sizing: border-box;
  }


@layer components {
    .navMenu {
        @apply hover:bg-[#2c2c2d] hover:text-[#EABE7B] relative w-[20%] py-6 text-left pl-4 border-[1px] border-borderBlack 
    }
    .navLink {
        @apply block text-sm
    }
    .headingBefore {
        @apply h-[1px] w-16 bg-white opacity-50 absolute top-[50%] left-0
    }
    .heading {
        @apply relative text-sm pl-20 tracking-[0.2em] text-yellow
    }
    .btn {
        @apply block px-9 py-4 text-yellow bg-[#2C2C2D] w-[400px] text-center hover:text-black hover:bg-white rounded-lg tracking-[0.35em]
    }
    .projectBefore {
        @apply z-10 bg-lightWhite opacity-0 absolute w-full h-full block
    }
    .linkBtn {
        @apply block z-10 px-4 py-2 border-yellow text-yellow border rounded-md bg-[#3E3E3F] hover:bg-[#5a5a5e] hover:text-[#f8ecec]
    }
    .projectInfoBefore {
        @apply block w-0 h-[1px] absolute top-0 left-0 bg-[#72737373] 
    }
}